name: CI
env:
  micromamba_version: 1.1

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types:
      - created

  workflow_dispatch:

jobs:
  lint:
    name: lint and style checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff black
      - name: Lint with ruff
        run: |
          ruff .
      - name: Black style check
        run: |
          black --check .

  build_0:
    name: miubrt notebook tests
    runs-on: ubuntu-latest
    needs: [lint]
    continue-on-error: true
    defaults:
      run:
        shell: bash -l {0}
    env:
      MIUBRT_DATA: ./miubrt-test-data
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install micromamba environment
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-name: miubrt-tests
          environment-file: ci/requirements/notebooktests.yml
          extra-specs: |
            python=${{ matrix.python-version }}
      - name: Install miubrt
        run: |
          python -m pip install . --no-deps
      - name: Clone miubrt-test-data
        run: |
          git clone https://github.com/meteo-ubonn/miubrt-test-data.git
      - name: Version Info
        run: |
          python -c "import miubrt; print(miubrt.version.version)"
          python -c "import wradlib; print(wradlib.show_versions())"
      - name: Test with pytest
        run: |
          echo $MIUBRT_DATA
          export MIUBRT_DATA=`realpath $MIUBRT_DATA`
          pytest -n auto --verbose --durations=15 --cov-report xml:coverage.xml --cov=miubrt --pyargs notebooks
#      - name: Upload coverage to Codecov
#        uses: codecov/codecov-action@v3
#        with:
#          file: ./coverage.xml
#          flags: notebooktests
#          env_vars: RUNNER_OS,PYTHON_VERSION
#          name: codecov-gha
#          fail_ci_if_error: false
